.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    // background-image: url("../images/forest.png");
    // background-repeat: no-repeat;
    // mix-blend-mode: overlay;

    &__bg {
        // position: absolute;
        position: relative;
        height: 100%;
        width: 100%;
        background-image: url("../images/forest.png");
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
    }

    &__story {
        width: 80%;
        color: var(--color-white);
        font-size: 35px;
        margin: 2rem 0;

        &--blue {
            color: var(--color-secondary);
        }
    }
}

@media only screen and (min-width: 400px) {
    .main-content {
        &__story {
            margin: 5rem 0;
            line-height: 42.36px;
        }
    }
}