.line {
    width: 100%;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    overflow: hidden;
    white-space: nowrap;
    // overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 0;

    &--dark {
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }

    &__text {
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        padding: 0 1rem;
        text-align: left;
    }

    &__text--bold {
        font-weight: 800;
    }
}

@media only screen and (min-width: 400px) {
    .line {
        &__text {
            font-size: 3.4rem;
        }
    }
}