.our-team {
    display: grid;
    gap: 2rem;
    margin: 10rem 2rem 4rem 2rem;
    // margin: 2rem 4rem;
}

@media only screen and (min-width: 400px) {
    .our-team {
        width: 80%;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 9rem;
        margin: 20rem 2rem 4rem 2rem;
    }
}