.our-team {
    display: grid;
    gap: 2rem;
    margin: 10rem 2rem 4rem 2rem;
    // margin: 2rem 4rem;

    &__members-container {
        display: flex;
        flex-direction: column;
    }
}

.member {
    &__top {
        display: grid;
        grid-template-columns: 85px 500px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'a b' 'a c';
        column-gap: 50px;
    }

    &__emoji {
        grid-area: a;
    }

    &__name {
        grid-area: b;
        font-size: 61.25px;
        font-weight: 400;
        line-height: 74.13px;
        color: var(--color-secondary);
    }

    &__title {
        grid-area: c;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 29.05px;
        color: var(--color-white);
    }
}

@media only screen and (min-width: 400px) {
    .our-team {
        width: 80%;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 9rem;
        margin: 20rem 2rem 4rem 2rem;
    }
}