.what-we-do {
    display: grid;
    // flex-direction: column;
    // margin: 15rem 1rem 2rem 1rem;
    margin: 1rem 1rem 4rem 1rem;
    background: transparent;

    &__img-header {
        width: 260px;
        // height: 140px;
    }

    // &__content {
    //     color: var(--color-white);
    //     font-size: 2.5rem;
    //     width: 300px;
    //     margin-top: 2rem;
    // }
}

@media only screen and (min-width: 400px) {
    .what-we-do {
        width: 80%;
        margin: 6rem 0;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        gap: 50px;
        // flex-direction: row;
        // align-items: center;
        // margin-top: 1rem;

        &__img-header {
            width: 357px;
            height: 140px;
        }

        &__content {
            margin-top: 0;
            margin-left: 1rem;
            font-size: 3.5rem;
            line-height: 46px;
            width: 500px;
        }
    }
}