/* selecting each and every element on the page and applying reset to it */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*border box inherited from body*/
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /*easier to calculate props: total  width and height will include paddings */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*
    Below is part of reset.css
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #464B51;
  background-color: #0A171B;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 55px;
  line-height: 1.1;
  color: #0048FF;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

a:hover {
  color: #0048FF;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 50px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #0048FF);
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.card a {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 5px;
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 300;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
}
