.img-fluid {
    width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.highlight-text {
    color: var(--color-secondary);
    text-decoration: underline;
}

.green {
    color: var(--color-secondary);
}

.header {
    color: var(--color-secondary);
    font-size: 50px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

@media only screen and (min-width: 400px) {
    .header {
        font-size: 9.3rem;
        line-height: 6.1rem;
    }
}