.main {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.top-screen {
    height: 100vh;
    background-image: url("../images/mountains.png");
}

.what-we-do {
    display: flex;
    flex-direction: column;

    &__header {
        color: green;
    }

    &__content {
        color: white;
    }
}

@media only screen and (min-width: 400px) {
    .what-we-do {
        flex-direction: row;
    }
}