$color-primary: #0048FF;
$color-secondary: #0A171B;
$color-accent: #464B51;
$color-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;