/* selecting each and every element on the page and applying reset to it */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*border box inherited from body*/
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /*easier to calculate props: total  width and height will include paddings */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/*
    Below is part of reset.css
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:root {
  --color-primary: #0A171B;
  --color-secondary: #24E5FF;
  --color-white: #CADBDA;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8.7rem 0;
  width: 100%;
  background-color: var(--color-secondary);
}

.banner__text {
  max-width: 1030px;
  font-size: 5.5rem;
}

.banner__btn {
  margin-top: 5.3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7.3rem;
  padding-bottom: 12.1rem;
}

.footer__text {
  margin-top: 2.3rem;
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.header-container {
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: var(--color-secondary);
  font-size: 93px;
  line-height: 61px;
}

.header-description {
  color: var(--color-white);
  font-size: 2.5rem;
  width: 300px;
  margin-top: 2rem;
}

@media only screen and (min-width: 400px) {
  .header-description {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 3.5rem;
    line-height: 46px;
    width: 500px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.main-content__bg {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  overflow: hidden;
  white-space: nowrap;
  overflow-y: hidden;
  padding: 1rem 0;
}

.line--dark {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.line__text {
  font-size: 34px;
  padding: 0 1rem;
}

.line__text--bold {
  font-weight: bold;
}

.our-team {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  margin: 10rem 2rem 4rem 2rem;
}

.our-team__members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 500px;
      grid-template-columns: 85px 500px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'a b' 'a c';
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.member__emoji {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

.member__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  font-size: 61.25px;
  font-weight: 400;
  line-height: 74.13px;
  color: var(--color-secondary);
}

.member__title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 29.05px;
  color: var(--color-white);
}

@media only screen and (min-width: 400px) {
  .our-team {
    width: 80%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    row-gap: 9rem;
    margin: 20rem 2rem 4rem 2rem;
  }
}

.our-works {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  margin: 2rem 4rem;
}

.our-works__content {
  color: var(--color-white);
  font-size: 2.5rem;
  width: 300px;
  margin-top: 2rem;
}

.project__header {
  margin-top: 1.4rem;
  color: var(--color-white);
  font-weight: 500;
  font-size: 45px;
  line-height: 65.52%;
}

.project__description {
  margin-top: 2.2rem;
  color: var(--color-white);
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width: 400px) {
  .our-works {
    width: 80%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    row-gap: 9rem;
    margin: 2rem 0;
  }
  .our-works__content {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 3.5rem;
    line-height: 46px;
    width: 500px;
  }
}

.story {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  font-size: 35px;
  margin: 2rem 0;
}

.story--blue {
  color: var(--color-secondary);
}

.story__btn {
  margin-top: 6.3rem;
}

@media only screen and (min-width: 400px) {
  .story {
    margin: 5rem 0;
    line-height: 42.36px;
  }
}

.top-screen {
  height: 100vh;
  width: 100%;
  background-image: url("../images/mountains.png");
  margin-bottom: 18rem;
}

.top-screen__macbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18rem;
  background-image: url("../images/macbook.png");
  background-position: center top;
}

.top-screen__we-code-img {
  width: 100%;
  height: auto;
  margin-top: 18rem;
  padding: 2rem;
}

@media only screen and (min-width: 400px) {
  .top-screen__we-code-img {
    width: auto;
    padding: 0;
  }
}

.what-we-do {
  display: -ms-grid;
  display: grid;
  margin: 1rem 1rem 4rem 1rem;
  background: transparent;
}

.what-we-do__img-header {
  width: 260px;
}

@media only screen and (min-width: 400px) {
  .what-we-do {
    width: 80%;
    margin: 6rem 0;
    -ms-grid-columns: (minmax(350px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 50px;
  }
  .what-we-do__img-header {
    width: 357px;
    height: 140px;
  }
  .what-we-do__content {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 3.5rem;
    line-height: 46px;
    width: 500px;
  }
}
/*# sourceMappingURL=main.css.map */